:host {
  width: 100%;
}

.dots{
  display: flex;
  flex-direction: column;
  gap: 3px;
  cursor: pointer;
  div{
    width: 3px;
    height: 3px;
    background-color: #98A2B3;
    border-radius: 50%;
  }
}

