@if (showMap) {
  <div class="map-wrapper">
    <div class="close"><span (click)="showMap = false">X</span></div>
    <google-map
      [options]="{
        mapTypeControl: false,
        streetViewControl: false,
        fullscreenControl: false,
        cameraControl: false,
        zoomControl: false,
      }"
      [mapId]="'google-map-test'"
      [mapTypeId]="mapTypeId"
      height="100%"
      width="100%"
      [center]="center"
      [zoom]="zoom">
      <map-advanced-marker
        *ngFor="let location of locations"
        [position]="location.position"
        [title]="location.title"
        [content]="location.content"
        #marker="mapAdvancedMarker"
        (mapClick)="openInfoWindow(location, marker)">
      </map-advanced-marker>
      <map-info-window #infoWindow>
        <!-- <div class="info-wrapper">{{ selectedLocation?.data || selectedLocation?.title }}</div> -->
        <div class="info-wrapper">{{ selectedLocation?.data }}</div>
      </map-info-window>
    </google-map>
  </div>
} @else {
  <input class="p-3" type="file" (change)="uploadFile($event)" />
}
