google-map {
  display: block;
  height: 500px;
  width: 100%;
}
.info-wrapper {
  color: red;
  font-size: 28px;
}

.map-wrapper {
  // width: 50%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100dvh;
  width: 100%;
  padding: 24px;
  flex-direction: column;
}

.close {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  span {
    font-size: 30px;
    cursor: pointer;
  }
}
