<section
  class="w-full max-w-[1280px] px-[32px] flex mob:flex-wrap mob:px-[16px] flex-col items-center mx-auto mob:mt-[64px]"
>
  <div
    class="flex gap-[12px] flex-wrap bg-[#F9F5FF] rounded-2xl py-[4px] pr-[10px] pl-[4px] items-center w-fit"
  >
    <div
      class="border border-solid border-[#E9D7FE] py-[2px] px-[10px] text-[#6941C6] bg-[#FFFFFF] rounded-2xl"
    >
      New feature
    </div>
    <div class="flex gap-[4px] items-center cursor-pointer">
      <span class="text-[#6941C6] text-[12px] font-medium"
        >Check out the team dashboard</span
      ><i class="pi pi-arrow-right" [style]="{ color: '#9E77ED' }"></i>
    </div>
  </div>
  <div class="flex flex-col gap-[24px] mt-[16px] items-center">
    <h1
      class="text-[60px] text-center font-semibold text-[#101828] leading-[72px]"
    >
      Beautiful analytics to grow smarter
    </h1>
    <p class="text-[20px] text-[#475467] text-center max-w-[768px]">
      Powerful, self-serve product and growth analytics to help you convert,
      engage, and retain more users. Trusted by over 4,000 startups.
    </p>
    <div class="mt-[12px] h-[60px] flex gap-[12px]">
      <p-button
        class="inline-block mr-3 border border-solid border-[#D0D5DD] rounded-lg"
        icon="pi pi-play"
        [style]="{
          'background-color': 'transparent',
          padding: '16px 28px',
          outline: 'none',
          'box-shadow': 'none',
          color: '#344054',
          height: '100%',
          'font-size': '18px'
        }"
        label="Demo"
        size="large"
      ></p-button>
      <p-button
        class="inline-block border border-solid border-[#7F56D9] rounded-lg"
        size="large"
        [style]="{
          'background-color': '#7F56D9',
          height: '100%',
          padding: '16px 28px',
          outline: 'none',
          'box-shadow': 'none',
          color: '#FFFFFF',
          'font-size': '18px'
        }"
        label="Sign up"
      ></p-button>
    </div>
  </div>
  <div class="flex flex-col mt-[64px] w-full">
    <img [src]="imagePath + 'Content.png'" />
    <div class="flex flex-col items-center mt-[97px]">
      <p class="text-[16px] text-[#475467] font-medium">
        Join 4,000+ companies already growing
      </p>
      <div
        class="hidden-scrollbar mt-[32px] flex gap-[92px] overflow-auto w-full"
      >
        <img
          [src]="imagePath + image"
          alt="image"
          *ngFor="let image of images"
        />
      </div>
    </div>
  </div>
</section>
<section
  class="w-full max-w-[1280px] px-[32px] flex mob:flex-wrap mob:px-[16px] flex-col items-center mt-[96px] mx-auto"
>
  <div class="flex flex-col gap-[12px] items-center max-w-[768px] mx-auto">
    <span class="text-[16px] text-[#6941C6] font-semibold">Features</span>
    <h2 class="text-[36px] text-[#101828] font-semibold mb-[8px] text-center">
      Analytics that feels like it’s from the future
    </h2>
    <p class="text-[20px] text-[#475467] text-center">
      Powerful, self-serve product and growth analytics to help you convert,
      engage, and retain more users. Trusted by over 4,000 startups.
    </p>
  </div>
  <div
    class="flex gap-[32px] justify-between mob:justify-center flex-wrap mt-[64px] home-cards"
  >
    <div
      class="card flex justify-content-center"
      *ngFor="let cardItem of cards"
    >
      <p-card
        [header]="cardItem.header"
        [style]="{
          width: '100%',
          'max-width': '384px',
          'box-shadow': 'none',
          'border-radius': '0',
          'text-align': 'center',
        }"
      >
        <ng-template pTemplate="header">
          <div
            class="w-[48px] h-[48px] rounded-full bg-[#F4EBFF] border-[8px] border-solid border-[#F9F5FF] mx-auto flex justify-center items-center"
          >
            <i class="pi" [ngClass]="cardItem.icon" style="color: #7f56d9"></i>
          </div>
        </ng-template>
        <p class="text-[#475467] text-[16px]">
          {{ cardItem.desc }}
        </p>
      </p-card>
    </div>
  </div>
</section>
<section class="w-full mt-[96px] bg-[#F9FAFB] py-[96px]">
  <div
    class="px-[32px] flex mob:px-[16px] flex-col items-center w-full max-w-[1280px] mx-auto"
  >
    <img class="mb-[32px]" [src]="imagePath + 'Company logo (1).png'" />
    <h3 class="text-[48px] text-[#101828] font-medium text-center mb-[32px]">
      We’ve been using Untitled to kick start every new project and can’t
      imagine working without it.
    </h3>
    <img
      class="rounded-full w-[64px] h-[64px] mb-[16px] bg-[#A2A8CD]"
      [src]="imagePath + 'woman.png'"
    />
    <span class="mb-[4px] text-[18px] text-[#101828] font-medium"
      >Candice Wu</span
    >
    <p class="text-[#475467] text-[16px]">Product Manager, Sisyphus</p>
  </div>
</section>
<section
  class="w-full max-w-[1280px] px-[32px] flex mob:flex-wrap mob:px-[16px] flex-col items-center mt-[96px] mx-auto pb-[96px]"
>
  <div class="flex flex-col gap-[12px] items-center mb-[64px]">
    <span
      class="text-[16px] text-[#6941C6] font-semibold px-[12px] py-[4px] bg-[#F9F5FF] rounded-2xl"
      >Features</span
    >
    <h2 class="text-[36px] text-[#101828] font-semibold mb-[8px] text-center">
      Cutting-edge features for advanced analytics
    </h2>
    <p class="text-[20px] text-[#475467] text-center max-w-[768px] mx-auto">
      Powerful, self-serve product and growth analytics to help you convert,
      engage, and retain more users. Trusted by over 4,000 startups.
    </p>
  </div>
  <div class="relative mb-[65px] mob:hidden">
    <img [src]="imagePath + 'mockup.png'" />
    <img
      class="h-full absolute left-0 translate-x-[-50%] top-[65px] xsm:!translate-x-[unset]"
      [src]="imagePath + 'iphone.png'"
    />
  </div>
  <div class="hidden mob:!flex overflow-hidden h-[300px]">
    <img class="h-max" [src]="imagePath + 'iphone.png'" />
  </div>
  <div
    class="flex gap-[32px] justify-between mob:justify-center flex-wrap mt-[64px] home-cards"
  >
    <ng-container *ngFor="let cardItem of cards; let i = index">
      <div class="card flex justify-content-center" *ngIf="i < 3">
        <p-card
          [header]="cardItem.header"
          [style]="{
          width: '100%',
          'max-width': '384px',
          'box-shadow': 'none',
          'border-radius': '0',
          'text-align': 'center',
        }"
        >
          <ng-template pTemplate="header">
            <div
              class="w-[48px] h-[48px] rounded-full bg-[#F4EBFF] border-[8px] border-solid border-[#F9F5FF] mx-auto flex justify-center items-center"
            >
              <i
                class="pi"
                [ngClass]="cardItem.icon"
                style="color: #7f56d9"
              ></i>
            </div>
          </ng-template>
          <div class="flex flex-col gap-[20px] items-center">
            <p class="text-[#475467] text-[16px]">
              {{ cardItem.desc }}
            </p>
            <div class="flex gap-[4px] items-center cursor-pointer">
              <span class="text-[#6941C6] font-semibold text-[16px]"
                >Learn more</span
              ><i class="pi pi-arrow-right" [style]="{ color: '#6941C6' }"></i>
            </div>
          </div>
        </p-card>
      </div>
    </ng-container>
  </div>
</section>
<section
  class="w-full max-w-[1280px] px-[32px] flex mob:flex-wrap mob:px-[16px] flex-col items-center mx-auto gap-[64px]"
>
  <div class="flex flex-col gap-[20px]">
    <h4 class="text-[36px] text-center text-[#101828] font-semibold">
      Frequently asked questions
    </h4>
    <p class="text-[20px] text-[#475467] text-center">
      Everything you need to know about the product and billing.
    </p>
  </div>
  <div
    class="card flex justify-content-center max-w-[768px] mx-auto home-accordion"
  >
    <p-accordion [multiple]="true" [activeIndex]="[]">
      <p-accordionTab
        [ngClass]="{ 'last-child': last }"
        *ngFor="let header of accordionHeaders; let last = last"
      >
        <ng-template pTemplate="header">
          <span class="flex align-items-center gap-2 w-full">
            <span class="font-bold">{{ header }}</span>
            <div class="less flex-shrink-0">-</div>
            <div class="more flex-shrink-0">+</div>
          </span>
        </ng-template>
        <p>
          Yes, you can try us for free for 30 days. If you want, we’ll provide
          you with a free, personalized 30-minute onboarding call to get you up
          and running as soon as possible.
        </p>
      </p-accordionTab>
    </p-accordion>
  </div>
</section>
<section
  class="w-full max-w-[1280px] px-[32px] flex mob:flex-wrap mob:px-[16px] flex-col items-center mt-[64px] mx-auto pb-[96px]"
>
  <div
    class="bg-[#F9FAFB] w-full flex flex-col items-center py-[32px] rounded-2xl"
  >
    <div class="h-[56px] flex items-end mb-[32px]">
      <img
        class="w-[48px] h-[48px] rounded-full bg-[#ABB677] translate-x-[15px]"
        [src]="imagePath + 'image1.png'"
      />
      <img
        class="h-full w-[56px] rounded-full bg-[#C7B9DA] z-10"
        [src]="imagePath + 'image2.png'"
      />
      <img
        class="w-[48px] h-[48px] rounded-full bg-[#D9B9BB] translate-x-[-15px]"
        [src]="imagePath + 'image3.png'"
      />
    </div>
    <h4 class="mb-[8px] text-[20px] text-[#101828] font-medium text-center">
      Still have questions?
    </h4>
    <p class="text-[18px] text-[#475467] text-center">
      Can’t find the answer you’re looking for? Please chat to our friendly
      team.
    </p>
    <p-button
      class="inline-block border border-solid border-[#7F56D9] rounded-lg mt-[32px]"
      size="large"
      [style]="{
        'background-color': '#7F56D9',
        height: '100%',
        padding: '10px 18px',
        outline: 'none',
        'box-shadow': 'none',
        color: '#FFFFFF',
        'font-size': '16px',
        'font-weight': '600'
      }"
      label="Get in touch"
    ></p-button>
  </div>
</section>
<section
  class="w-full max-w-[1280px] px-[32px] flex mob:px-[16px] flex-col mx-auto py-[96px] mob:py-[64px]"
>
  <div class="flex flex-col gap-[12px] max-w-[768px] mb-[64px] mob:mb-[48px]">
    <span class="text-[16px] text-[#6941C6] font-semibold">Launch faster</span>
    <h2
      class="text-[36px] text-[#101828] font-semibold mb-[8px] mob:text-center"
    >
      Build something great
    </h2>
    <p class="text-[20px] text-[#475467] mob:text-center">
      We’ve done all the heavy lifting so you don’t have to — get all the data
      you need to launch and grow your business faster.
    </p>
  </div>
  <div class="flex gap-x-[96px] gap-y-[48px] justify-between mob:flex-col">
    <div
      class="py-[80px] gap-[32px] flex flex-wrap max-w-[560px] justify-center mob:max-w-full mob:py-0"
    >
      <div
        *ngFor="let item of expData"
        class="flex flex-col gap-[8px] max-w-[264px] mob:max-w-[343px]"
      >
        <h3
          class="mb-[4px] text-[#7F56D9] text-[60px] text-center font-semibold"
        >
          {{ item.exp }}
        </h3>
        <p class="text-[18px] text-[#101828] text-center font-medium">
          {{ item.header }}
        </p>
        <span class="text-[#475467] text-center text-[16px]">{{
          item.desc
        }}</span>
      </div>
    </div>
    <div class="w-[560px] mob:w-full flex-shrink-0 my-auto">
      <img class="w-full aspect-square" [src]="imagePath + 'dafa.jfif'" />
    </div>
  </div>
</section>
<section class="w-full mt-[96px] bg-[#F9FAFB] py-[96px] mob:mt-0 mob:py-[64x]">
  <div
    class="px-[32px] flex mob:px-[16px] flex-col items-center w-full max-w-[1280px] mx-auto"
  >
    <h3
      class="text-[36px] text-[#101828] font-medium text-center mb-[20px] text-center"
    >
      Start your free trial
    </h3>
    <span class="text-[20px] text-[#475467] text-center"
      >Join over 4,000+ startups already growing with Untitled.</span
    >
    <div class="h-[48px] flex gap-[12px] mt-[40px]">
      <p-button
        class="inline-block mr-3 border border-solid border-[#D0D5DD] rounded-lg"
        [style]="{
          'background-color': 'transparent',
          padding: '12px 20px',
          outline: 'none',
          'box-shadow': 'none',
          color: '#344054',
          height: '100%',
          'font-size': '16px',
          'font-weight': '600'
        }"
        label="Learn more"
      ></p-button>
      <p-button
        class="inline-block border border-solid border-[#7F56D9] rounded-lg"
        [style]="{
          'background-color': '#7F56D9',
          height: '100%',
          padding: '12px 20px',
          outline: 'none',
          'box-shadow': 'none',
          color: '#FFFFFF',
          'font-size': '16px',
          'font-weight': '600'
        }"
        label="Get started"
      ></p-button>
    </div>
  </div>
</section>
